@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap');
*{

    font-family: "Chivo", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: rgb(102,112,133);
    font-size: 16px;
    line-height: 22px;
    background-color : rgb(255,255,255);
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    width: 100%;
    z-index: 999;
    left: 0;
    height: 7vh;
    border-bottom: 1px solid #f2f4f7;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .05);
    background: #fff;
    position: fixed;
    margin-bottom: 10px;
    animation: dropdown 0.5s 1 ease-out;
    animation-fill-mode: forwards;
}
@keyframes dropdown{
    0%{
        margin-top: -100px;
    }
    100%{
        margin-top: 20px;
    }
}
.navbar{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    height: 7vh;
    margin-bottom: 15px;
}
.navbar ul{
    display: flex;
    flex-direction: row;
    height: 7vh;
    gap: 30px;
    justify-content: center;
    align-items: center;

}
.navbar ul li{
    list-style: none;
    color: black;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    cursor: pointer;
}
.navbar ul li:hover{
    color: rgb(0,109,119);
}
.login{
    font-size: 23px;
    color: rgb(0,109,119);
    cursor: pointer;
    margin-right: 15px;
    margin-bottom: 35px;
}
.login:hover{
    color: #03b2cb;
}
.container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 0px 12px;
}
h1{
    font-weight: 700;
    color: rgb(16,24,40);
    font-style: normal;
    font-size: 42px;
    text-align: center;
    line-height: 44px;
}
.subtext{
    margin-top: -20px;
    text-align: center;
    width: 40%;
}
.form-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
    align-items: center;
    margin: 5px 0px;
    padding: 48px;
    gap: 30px;
    box-shadow: 14px 14px 36px hsla(0, 0%, 60%, .22) ;
    border-radius: 20px;
}
.text-field{
    width: 90%;
}
.form-box input{
    color: black;
    line-height: 24px;
    padding:1px 2px 1px 20px;
    border-radius: 18px;
    font-size: 20px;
    height: 45px;
    width: 100%;
    margin-top: 7px;
    border: none;
    box-sizing: border-box;
  }
  .form-box input:focus{
    outline: none;
  }
  label{
    margin-left: 10px;
  }
  .input-field{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 14px 14px 36px hsla(0, 0%, 60%, .22) ;
    border-radius: 18px;
    border: 1px solid rgb(234, 234, 234);
    padding-left: 8px;
}
.form-box p{
    width: 90%;
    margin-top: -4px;
}
button{
    box-shadow: 14px 14px 36px hsla(0, 0%, 60%, .22);
    padding: 7px 20px;
    font-size: 18px;
    width: 50%;
    height: 7vh;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    line-height: 0px;
    color: black;
}
.btn{
    color:rgb(255,255,255);
    background-color: rgb(33, 36, 41);
    box-shadow: 14px 14px 36px hsla(0, 0%, 60%, .22)
}
hr{
    width: 100%;
    border-top: 2px solid rgb(196, 197, 199);
    margin: -10px 0px;
}
.signup{
    cursor: pointer;
}
.signup:hover{
    color:#03b2cb;
}

@media only screen and (max-width: 768px) {
    /* Adjust navigation bar */
    nav {
        display: none;
    }
    /* Adjust form box */
    h1{
      font-size: 36px;
    }
    .subtext{
      width: 84%;
    }
    .form-box {
      width: 80%;
      padding: 24px;
    }
    .form-box input{
      font-size: 15px;
    }
    .text-field {
      width: 100%;
    }
    button {
      width: 100%;
    }
  }
  
  @media only screen and (max-width: 1024px) {

    nav {
      height: 6vh;
    }
    .navbar {
      flex-direction: row;
    }
    .navbar ul {
      flex-direction: row;
    }
    .navbar ul li {
      margin-bottom: 0;
    }
    
    .form-box {
      width: 60%;
      padding: 32px;
    }
    .text-field {
      width: 100%;
    }
    button {
      width: 100%;
    }
  }
  
